*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    height: 100v;
    /* background: #30336b; */
    background-color: #0e0c12;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    color: #fff;
    /* place-items: center; */
    padding: 300px;
    text-shadow: 0 1px 8px rgba(240, 240, 240, 0.5);
    }

span {
    padding: 20px;
    font-weight: 400;
    text-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
}

.counter {
    color: rgb(228, 148, 27);
    padding: 13px;
    font-weight: 1000;
    font-size: xx-large;
}

